@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Press+Start+2P&family=Trispace&display=swap');

body
{
    background-image: url(./img/starry.gif);
    background-size: 100%;
    background-attachment: fixed;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    font-family: 'Press Start 2P', sans-serif;
}
header
{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: space-around;
    justify-content: center;
    margin-top: 50px;
    text-align: center;
    color: #ECFC04;
    font-size: 30px;
    padding: 10px;
}
button
{
    background-color:#BCAFDC;
    border-radius: 5px;
    font-family: 'Press Start 2P', sans-serif;
    color: #301E51;
    max-width: 20%;
    cursor: pointer;
    text-align: center;
}
.intro
{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    height: 50vh;
    transition: opacity 0.6s ease;

}
.intro button
{
    padding: 10px;
    max-width: fit-content;
    cursor: pointer;
}
div.fadeOut
{
    opacity: 0;
    pointer-events: none;
}
div.faceoff
{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    max-width: 1500px;
    background-color: #B2FFFF80;
    border-radius: 8px;
    padding: 20px;
    font-family: 'Trispace', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    position: absolute;
    transform: translate(-25%, -75%);
    height: 50vh;
    transition: opacity 0.5s ease 0.6s;

}
div.fadeIn
{
    opacity: 1;
    pointer-events: all;
}